ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}
ion-searchbar {
  z-index: 23000 !important;
  position: absolute !important;
}
ion-list {
  z-index: 2200 !important;
  position: absolute !important;
  width: 100%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.backdrop-class {
  background-color: white !important;
  visibility: hidden;
}
.modal-class {
  position: absolute;
  text-align: center;
  height: 140px;
  top: calc(100% - 150px) !important;
}
.extend-button {
  position: relative;
  z-index: 2400 !important;
  bottom: 26px;
}
.close-button {
  position: relative;
  z-index: 2400 !important;
  bottom: 26px;
}
.saved-flag {
  position: absolute;
  z-index: 2400 !important;
  left: 0;
  font-size: 25px;
  bottom: 80px;
}
