ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}
ion-searchbar {
  z-index: 23000 !important;
  position: absolute !important;
}
.search-mode {
  width: 100%;
  z-index: 22300 !important;
  position: absolute !important;
}
.search-suggestions {
  top: 210px;
  z-index: 2200 !important;
  position: absolute !important;
  width: 100%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.backdrop-class {
  background-color: white !important;
  visibility: hidden;
}
.short-modal-class {
  text-align: center;
  height: 140px;
  top: calc(100% - 150px) !important;
}
.extended-modal-class {
  text-align: center;
  height: 440px;
  top: calc(100% - 455px) !important;
}
.extend-button {
  position: relative;
  z-index: 2400 !important;
  bottom: 26px;
}
.nextSlide {
  position: relative;
  z-index: 2400 !important;
  left: 30px;
  bottom: 26px;
}
.prevSlide {
  position: relative;
  z-index: 2400 !important;
  right: 30px;
  bottom: 26px;
}
.close-button {
  position: relative;
  z-index: 2400 !important;
  bottom: 26px;
}
.saved-flag {
  position: relative;
  z-index: 2400 !important;
  right: 80px;
  font-size: 25px;
  bottom: 10px;
}
.text-input-save {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}


// Autocomplete style
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.leaflet-routing-container {
  display: none !important;
}
