<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tags</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tags</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <mat-form-field class="example-chip-list" style="width: 100%;">
      <mat-label>My tags</mat-label>
      <mat-chip-list #chipList aria-label="Color selection">
        <mat-chip class="ship" *ngFor="let tag of tags" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(tag)" selected [color]="tag.color">
          {{tag.label}}
          <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
        </mat-chip>
        <input placeholder="New tag..."
               style="color: black !important;"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
</ion-content>
