
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">
  <br>
  <div style=" display:flex;
    align-items:center;
    justify-content:center;">
  <ion-searchbar placeholder="chercher"></ion-searchbar>
    <ion-button  style="right: 0;" size="medium" color="light"> <ion-icon name="add-circle-outline" ></ion-icon></ion-button>

  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>X</th>
        <th>Y</th>
        <th>Label</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>X1</td>
        <td>Y1</td>
        <td><span class="badge bg-red">Café</span></td>
      </tr>
      <tr>
        <td>X2</td>
        <td>Y2</td>
        <td><span class="badge bg-yellow">Sunsets</span></td>
      </tr>
      <tr>
        <td>X3</td>
        <td>Y3</td>
        <td><span class="badge bg-light-blue">Plage</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

