<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second text-input" [(ngModel)]="loginData.username" name="login" placeholder="Email">
      <input type="password" id="password" class="fadeIn third text-input" [(ngModel)]="loginData.password" name="login" placeholder="Mot de passe">
      <input type="submit" class="fadeIn fourth" value="Connexion" (click)="login()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/auth/register">S'enregistrer</a>
    </div>

  </div>
</div>
