<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form>
      <input type="text" id="name" class="fadeIn second" name="login" placeholder="Nom">
      <input type="text" id="lastName" class="fadeIn second" name="login" placeholder="Prénom">
      <input type="text" id="id" class="fadeIn second" name="login" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Mot de passe">
      <input type="text" id="passwordConfirmer" class="fadeIn third" name="login" placeholder="Confirmer">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/auth/login">Vous avez déjà un compte ? Se connecter.</a>
    </div>

  </div>
</div>
